.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
}

.navbar-container > img{
    width: 120px;
    height: 100px;
    object-fit: contain;
}
.navbar-container > ul{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    list-style: none;

    align-items: center;
    justify-content: center;
    margin-right: 3vw;
    margin-top: 4vh;
}